<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!-- Add your file path setting -->
    <add key="JsonFilePath" value="C:\Software Development\output.json" />
    <!-- Add key for weather API -->
     <add key="WeatherApiKey" value="6943aea1d6a3dac3b7b3bd1ba68802a9" />
  </appSettings>

</configuration>

